<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.numad21fa_telvinzhong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tztest"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tztest_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD21FaTelvinZhong">
        <activity
            android:name=".Locator"
            android:exported="true" />
        <activity
            android:name=".LinkCollector"
            android:exported="true" />
        <activity
            android:name=".ClickyTest"
            android:exported="true" />
        <activity
            android:name=".Clicky"
            android:exported="true"
            android:label="@string/title_activity_clicky"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NUMAD21FaTelvinZhong.NoActionBar" />
        <activity
            android:name=".AboutMe"
            android:exported="true"
            android:label="@string/title_activity_about_me"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NUMAD21FaTelvinZhong.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            android:parentActivityName=".MainActivity"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>